<style>
#bigbody {
  background-image: url(<%= image_path("bg4.jpg") %>);
  background-size: cover;
}

.container {
  background-color: rgba(115, 158, 203, 0.7);
  width: 30%;
  margin-top: 50px;
  padding: 30px;
}
</style>

<div class="container sign-up-form">
  <h1> <span class="glyphicon glyphicon-bullhorn"></span> Sign up with us!</h1>
  <h3>Already have an acount? Simply <%= link_to "log in", new_session_path %>.</h3>

  <%= render 'users/form', user: @user %>

</div>
