<style>
#bigbody {
  background-image: url('/assets/bg4.jpg');
  background-size: cover;
}

#signup {
  background-color: rgba(178, 194, 149, 0.7);
  width: 30%;
}
</style>

<div class="container" id="signup">
  <h1> <span class="glyphicon glyphicon-bullhorn"></span> Sign up with us!</h1>
  <h3>Already have an acount? Simply <%= link_to "log in", new_session_path %>.</h3>

  <%= render 'users/form', user: @user %>

</div>
