all the requests. (il faut be all requests of THIS post.)

<ul class="list-group">
  <% @requests.each do |r| %>
  <li class="list-group-item">    <%= r.title %> <br>
      <%= r.offer %> <br>
      <%= r.message %><br>
      all for post with id: <%= r.post_id %> <br></li>
  <% end %>
</ul>
