<div class="container">
  <ul class="list-group">
    <% @requests.each do |r| %>
    <li class="list-group-item">
      title: <%= r.title %> <br>
      offering post: <%= r.offer_id %> <br>
      message: <%= r.message %><br>
      all for post with id: <%= r.post_id %> <br>
      <%#= link_to "delete XXXXX", post_request_path(r.post_id, r), method: :delete %>
    </li>
    <% end %>
  </ul>
</div>
