we're inside /requets/show.htm.erb

<div class="well well-lg">
  Title: <%= @request.title %> <br>
  <%= @request.message %>
</div>

<%= link_to messages_path do%>
  <div class="btn btn-default">
    Back
  </div>
<% end %>
