<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <br>
            <h1>FAQ</h1>
            <button class="accordion">aklsfjaklsfkjfklsjk?</button>
            <div class="panel">
                <p>Lorem ipsum..</p>
            </div>

            <button class="accordion">asdfasgasg?</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">adfgasdfgasdf sfas</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>

            <button class="accordion">sadfasd fa gas dd</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <br>
        </div>
    </div>
</div>
