<!-- for carousel begin -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <div class="carousel-inner" role="listbox" id="le_carousel">

    <div class="item active">
      <img src="/assets/jmt4.jpg" alt="Chania" width=100%>
      <div class="carousel-caption">
        <h3>Reduce</h3>
        <p>Our beautiful planet needs less garbage.</p>
      </div>
    </div>

    <div class="item">
      <img src="/assets/jmt2.jpg" alt="Chania" width=100%>
      <div class="carousel-caption">
        <h3>Reuse</h3>
        <p>We contribute to a greener world by reusing already-made items.</p>
      </div>
    </div>

    <div class="item">
      <img src="/assets/jmt3.jpg" alt="Flower" height="370" width=100%>
      <div class="carousel-caption">
        <h3>Recycle</h3>
        <p>A best way to recycle is to reuse things rather than buying new ones.</p>
      </div>
    </div>

    <div class="item">
      <img src="/assets/jmt1.jpg" alt="Flower" width=100%>
      <div class="carousel-caption">
        <h3>Contribute</h3>
        <p>A simple choice makes big differences.</p>
      </div>
    </div>
  </div>
</div>
<!-- for carousel end -->

<div class="jumbotron">
  <div class="container">
    <h3>How does Wexchange Work?</h3>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</div>
