/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require bootstrap_and_overrides
 *= require_self
 *= require font-awesome
 */

* {
  font-family: Arial;
}

#yielding {
  padding-top: 50px;
}

#logo {
  height: 55px;
  margin-top: 0px;
}

#logo2 {
  height: 75px;
  margin-top: 0px;
}

.navbar {
  height: 70px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: sans-serif;
}

#bigbody {
  padding-bottom: 0;
  padding-top: 20px;
}

.texts {
  margin: 0px 80px auto 100px;
  padding: 30px;
}

.sections {
  background-color: rgba(116, 147, 134, 0.15);
}

.centered{
  text-align: center;
}

.jumbotron{
  margin-bottom: 0;
}
