// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$imgHeight: 13em;
$img-border: 66px black solid;

.col-xs-3{
  background: pink;
  background-size: cover;
  height: $imgHeight;
}

.img-collect{
  border-top: $img-border;
  border-bottom: $img-border;
}
